<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendence Report</title>
</head>

<body>
    <p>Hello,</p>
    <p>You have attend to our event <b>{event_title}</b>.</p>
    <p>We have attached your attendence certificate with this email.</p>
    <p>Thank you.</p>

    <p>Best Regurds,</p>
    <p>
        <a href="https://mata.org.my">M.A.T.A</a>
    </p>
</body>

</html>
